h1= name
  form.form-inline(action='/me', method='post')
    input(type='hidden', name='_method', value='put')
    input(type='text', name='email', placeholder='Email', value=email)
    input(type='text', name='name', placeholder='Name', value=name)
    button.btn.btn-primary Update