extends layout

block body
  div(ng-controller='AppCtrl')
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          div.nav-collapse.collapse
            a.brand(href='#') Project
            ul.nav
              li
                a(href='about') about
              li
                a(href='contact') contact
    div.container
      div(ng-view)
      div
        | Angular seed app: v
        span(app-version)

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/ui-bootstrap-0.2.0.min.js')
