extends layout

block body
  div(ng-controller='AppCtrl')
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          div.nav-collapse.collapse
            a.brand(href='#') Project
            ul.nav
              li
                a(href='about') about
              li
                a(href='contact') contact
    div.container
      div(ng-view)
      div
        | &copy; Simon Townsend 2013
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/angular-resource.min.js')
  script(src='js/dropzone.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/ui-bootstrap-0.2.0.min.js')
  script(src='http://maps.googleapis.com/maps/api/js?sensor=false&language=en')
  script(src='js/angular-google-maps.js')
  script(src='js/lodash.compat.min.js')